TUTSOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.tut.ac.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.tut.ac.za/" name="TUTSOAPWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.tut.ac.za/" schemaLocation="http://localhost:8080/TUTSOAPWebService/TUTSOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<portType name="TUTSOAPWebService">
<operation name="addStudent">
<input wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/addStudentResponse" message="tns:addStudentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/addStudent/Fault/Exception"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/getStudentResponse" message="tns:getStudentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/getStudent/Fault/Exception"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/updateStudentResponse" message="tns:updateStudentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/updateStudent/Fault/Exception"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/deleteStudent/Fault/Exception"/>
</operation>
<operation name="getStudents">
<input wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/getStudentsResponse" message="tns:getStudentsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tut.ac.za/TUTSOAPWebService/getStudents/Fault/Exception"/>
</operation>
</portType>
<binding name="TUTSOAPWebServicePortBinding" type="tns:TUTSOAPWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TUTSOAPWebService">
<port name="TUTSOAPWebServicePort" binding="tns:TUTSOAPWebServicePortBinding">
<soap:address location="http://localhost:8080/TUTSOAPWebService/TUTSOAPWebService"/>
</port>
</service>
</definitions>