TUTSOAPWebServiceApp/src/conf/wsdl/TransformerSOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.transformer.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.transformer.com/" name="TransformerSOAPWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.transformer.com/" schemaLocation="http://localhost:8080/TransformerSOAPWebService/TransformerSOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="forwardUpdate">
<part name="parameters" element="tns:forwardUpdate"/>
</message>
<message name="forwardUpdateResponse">
<part name="parameters" element="tns:forwardUpdateResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="forwardStudent">
<part name="parameters" element="tns:forwardStudent"/>
</message>
<message name="forwardStudentResponse">
<part name="parameters" element="tns:forwardStudentResponse"/>
</message>
<message name="forwardDelete">
<part name="parameters" element="tns:forwardDelete"/>
</message>
<message name="forwardDeleteResponse">
<part name="parameters" element="tns:forwardDeleteResponse"/>
</message>
<portType name="TransformerSOAPWebService">
<operation name="forwardUpdate">
<input wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardUpdateRequest" message="tns:forwardUpdate"/>
<output wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardUpdateResponse" message="tns:forwardUpdateResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardUpdate/Fault/Exception"/>
</operation>
<operation name="forwardStudent">
<input wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardStudentRequest" message="tns:forwardStudent"/>
<output wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardStudentResponse" message="tns:forwardStudentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardStudent/Fault/Exception"/>
</operation>
<operation name="forwardDelete">
<input wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardDeleteRequest" message="tns:forwardDelete"/>
<output wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardDeleteResponse" message="tns:forwardDeleteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.transformer.com/TransformerSOAPWebService/forwardDelete/Fault/Exception"/>
</operation>
</portType>
<binding name="TransformerSOAPWebServicePortBinding" type="tns:TransformerSOAPWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="forwardUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="forwardStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="forwardDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TransformerSOAPWebService">
<port name="TransformerSOAPWebServicePort" binding="tns:TransformerSOAPWebServicePortBinding">
<soap:address location="http://localhost:8080/TransformerSOAPWebService/TransformerSOAPWebService"/>
</port>
</service>
</definitions>