TransformerSOAPWebServiceApp/src/conf/xml-resources/web-service-references/DHESOAPWebService_3/wsdl/localhost_8080/DHESOAPWebService/DHESOAPWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://jws.dhe.org.za/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jws.dhe.org.za/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addLearner" type="tns:addLearner"/>

<xs:element name="addLearnerResponse" type="tns:addLearnerResponse"/>

<xs:element name="deleteLearner" type="tns:deleteLearner"/>

<xs:element name="deleteLearnerResponse" type="tns:deleteLearnerResponse"/>

<xs:element name="getLearner" type="tns:getLearner"/>

<xs:element name="getLearnerResponse" type="tns:getLearnerResponse"/>

<xs:element name="getLearners" type="tns:getLearners"/>

<xs:element name="getLearnersResponse" type="tns:getLearnersResponse"/>

<xs:element name="learner" type="tns:learner"/>

<xs:element name="physicalAddress" type="tns:physicalAddress"/>

<xs:element name="updateLearner" type="tns:updateLearner"/>

<xs:element name="updateLearnerResponse" type="tns:updateLearnerResponse"/>

<xs:complexType name="getLearner">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLearnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:learner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="learner">
<xs:sequence>
<xs:element name="address" type="tns:physicalAddress" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="physicalAddress">
<xs:sequence>
<xs:element name="area" type="xs:string" minOccurs="0"/>
<xs:element name="areaCode" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLearner">
<xs:sequence>
<xs:element name="learnerXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLearnerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteLearner">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLearnerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateLearner">
<xs:sequence>
<xs:element name="learnerXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLearnerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLearners">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLearnersResponse">
<xs:sequence>
<xs:element name="return" type="tns:learner" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>